/*
 * Adapted from Radix UI Themes:
 *
 * https://github.com/radix-ui/themes/blob/main/packages/radix-ui-themes/src/components/reset.css
 */

@layer reset, tokenami;

@layer reset {
	/* ======================================================
	 * Margins
	 * ====================================================== */

	:where(body, blockquote, dl, dd, figure, p) {
		margin: 0;
	}

	/* ======================================================
	 * Typography
	 * ====================================================== */

	:where(address, b, cite, code, dfn, em, i, kbd, q, samp, small, strong, var) {
		font: unset;
	}

	:where(h1, h2, h3, h4, h5, h6) {
		font: unset;
		margin: 0;
	}

	/* ======================================================
	 * Interactive elements
	 * ====================================================== */

	:where(a) {
		all: unset;
		-webkit-tap-highlight-color: transparent;
		cursor: pointer;
	}

	/* Buttons & Inputs */
	:where(
		button,
		select,
		[type="button"],
		[type="image"],
		[type="reset"],
		[type="submit"],

		/* Non-textual inputs */
		[type="checkbox"],
		[type="color"],
		[type="radio"],
		[type="range"]
	) {
		all: unset;
		text-indent: initial;
		-webkit-tap-highlight-color: transparent;
		font-style: normal;
		font-weight: normal;
		display: inline-block;
	}

	:where(label) {
		-webkit-tap-highlight-color: transparent;
	}

	:where(select) {
		text-align: start;
		font-style: normal;
		font-weight: normal;
	}

	:where(
		textarea,
		input:not(
				/* Buttons */
				[type="button"],
				[type="image"],
				[type="reset"],
				[type="submit"],

				/* Non-textual inputs */
				[type="checkbox"],
				[type="color"],
				[type="radio"],
				[type="range"]
			)
	) {
		all: unset;
		text-align: start;
		text-indent: initial;
		-webkit-tap-highlight-color: transparent;

		/* Make sure parent <label> doesn't change the text cursor */
		cursor: text;
		width: -webkit-fill-available;
		width: stretch;
		font-style: normal;
		font-weight: normal;
		display: block;
	}

	:where(:focus) {
		outline: none;
	}

	::placeholder {
		color: unset;
		opacity: unset;

		/* Weird, but placeholders are selectable in Chrome and Safari */
		user-select: none;
	}

	/* ======================================================
	 * Tables
	 * ====================================================== */

	:where(table) {
		all: unset;
		text-indent: initial;
		display: table;
	}

	:where(caption) {
		text-align: inherit;
	}

	:where(td) {
		padding: 0;
	}

	:where(th) {
		font-weight: unset;
		text-align: inherit;
		padding: 0;
	}

	/* ======================================================
	 * Individual style tweaks
	 * ====================================================== */

	:where(abbr, acronym) {
		text-decoration: none;
	}

	:where(canvas, object, picture, summary) {
		display: block;
	}

	:where(del, s) {
		text-decoration: unset;
	}

	:where(fieldset, hr) {
		all: unset;
		display: block;
	}

	:where(legend) {
		/* Normalize with label */
		cursor: default;
		border: none;
		padding: 0;
	}

	:where(li) {
		text-align: unset;
		display: block;
	}

	:where(ol, ul) {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	:where(iframe) {
		width: -webkit-fill-available;
		border: none;
		width: stretch;
		display: block;
	}

	:where(ins, u) {
		text-decoration: none;
	}

	:where(img) {
		max-width: 100%;
		display: block;
	}

	:where(svg) {
		flex-shrink: 0;
		max-width: 100%;
		display: block;
	}

	:where(mark) {
		all: unset;
	}

	:where(pre) {
		font: unset;
		margin: unset;
	}

	:where(q):before,
	:where(q):after {
		content: '';
	}

	:where(sub, sup) {
		font: unset;
		vertical-align: unset;
	}

	:where(details) ::marker,
	:where(summary)::marker {
		content: none;
	}

	:where(video) {
		width: -webkit-fill-available;
		width: stretch;
		display: block;
	}

	/* ======================================================
	 * Box sizing
	 * ====================================================== */

	:where(*, *::before, *::after) {
		box-sizing: border-box;
	}
}
